<% content_for :head do -%>
  <%= stylesheet_link_tag "debugger.css"%>
  <%= javascript_include_tag "ace_editor/ace" %>
  <%= javascript_include_tag "ace_editor/mode-javascript" %>

  <script type="text/javascript">
    $(document).ready(function() {
      hDebugger.initializeEditor('library_function', ['library_function']);
      
      hDebugger.showCodeIsValid = function() {
    	  $('#submit_button').removeAttr('disabled');
    	};
    	hDebugger.showCodeIsInvalid = function() {
    	  $('#submit_button').attr('disabled', 'disabled');
    	};
    	
    	hDebugger.debug(['library_function']);
    });
  </script>
<% end %>

<%= simple_form_for(@library_function) do |f| %>
  <%= f.error_notification %>
  
  <table class="simpleTable">
    <tr>
      <th>Name</th>
      <td><%= f.input_field :name %></td>
    </tr>
    <tr>
      <th>Definition</th>
      <td>
        <div id="library_function_container" class="debug_container">
          <div id="library_function_editor" class="debug_editor"></div>
          <textarea id="library_function_text" name="library_function[definition]" class="hidden"><%= @library_function[:definition] %></textarea>
        </div>
        <div id="library_function_error_panel" class="debug_error_panel">
            <p id="library_function_error_panel_text"></p>
        </div>
      </td>
    </tr>
  </table>
  
  <%= f.button :submit, :id => 'submit_button', :class => 'btn' %>
<% end %>