<%= simple_form_for(@library_function) do |f| %>
  <%= f.error_notification %>

    <table class="simpleTable">
      <tr>
        <th>Name</th>
        <td><%= f.input_field :name %></td>
      </tr>
      <tr>
        <th>Definition</th>
        <td><%= f.input_field :definition, :as => :text %></td>
      </tr>
    </table>

    <%= f.button :submit, :class=>"btn m" %>
<% end %>
