<%= render partial: 'shared/tab_menu', locals: { selected: {library_functions: true}} %>
 <div> 
  <%= render :partial=> "queries/sidebar" %>
</div>
<div id="mainPanel">
  <h1>Edit Library Function</h1>
  <div class="top_border form_top_border">
      <div class="top_border_lower form_border_lower">
      </div>
    </div>

  <%= render 'form' %>
 
</div>
    <div class="bottom_border_lower relative">
      <div class="bottom_border">
      </div>
    </div>
  <div style="margin-top:20px">
    <%= link_to 'Show', @library_function %> <span class="sep">|</span>
    <%= link_to 'List Library Functions', library_functions_path %>
  </div>
</div>
