
<%= render partial: 'shared/tab_menu', locals: { selected: {library_functions: true}}%>

<div id="mainPanel" >
  <h1>User Defined Library Functions</h1>

  <div class="simpleTableContainer">
    <table class="simpleTable">
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>

    <% @library_functions.each do |library_function| %>
      <tr>
        <td><%= link_to library_function.name, library_function %></td>
        <td><%= link_to 'Edit', edit_library_function_path(library_function) %></td>
        <td><%= link_to 'Destroy', library_function, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
    </table>
  </div>

  <%= link_to 'Create New Library function', new_library_function_path %>
</div>

