
<%= render partial: 'shared/tab_menu', locals: { selected: {library_functions: true}}%>
 <div> 
  <%= render :partial=> "queries/sidebar" %>
</div>
<div id="mainPanel" >
  <h1>User Defined Library Functions</h1>
    <div class="top_border form_top_border">
      <div class="top_border_lower form_border_lower">
       </div>
    </div>

  <table class="simpleTable">
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>

    <% @library_functions.each do |library_function| %>
      <tr>
        <td><%= link_to library_function.name, library_function %></td>
        <td><%= link_to 'Edit', edit_library_function_path(library_function), :class=> "btn tbbtn" %></td>
        <td><%= link_to '×', library_function, confirm: 'Are you sure?', method: :delete, :class=> "btn alert" %></td>
      </tr>
    <% end %>
    </table>

  <%= link_to new_library_function_path, :class=> "btn primary m" do %><span>New Library function</span><% end %>
    <div class="bottom_border_lower relative">
      <div class="bottom_border">
        </div>
    </div>

</div>

