<%= render partial: 'shared/tab_menu', locals: { selected: {library_functions: true}} %>
 <div> 
  <%= render :partial=> "queries/sidebar" %>
</div>
<div id="mainPanel">
  <h1>Library Function Definition</h1>

  <p id="notice"><%= notice %></p>

  <table class="simpleTable">
    <div class="top_border form_top_border">
      <div class="top_border_lower form_border_lower">
      </div>
    </div>
    <tr>
      <th>Name</th>
      <td><%= @library_function.name %></td>
    </tr>
    <tr>
      <th>Definition</th>
      <td><pre><%= @library_function.definition %></pre></td>
    </tr>
  </table>
    <div class="bottom_border_lower relative">
      <div class="bottom_border">
      </div>
    </div>
</div>