<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td><b>name</b></td>
    <td><%= @library_function.name %></td>
  </tr>
  <tr>
    <td><b>definition</b>&nbsp;&nbsp;</td>
    <td><code><%= @library_function.definition %></code></td>
  </tr>
</table>


<%= link_to 'Edit', edit_library_function_path(@library_function) %> |
<%= link_to 'Back', library_functions_path %>
