<%= render partial: 'shared/tab_menu', locals: { selected: {queries: true}}%>
<div id="mainPanel" >

<h1>Query Template Administration</h1>

<table class="simpleTable">
<tr><td></td></tr>
<% if @template_queries.size %>
  <tr><b>
    <th>Title</th>
    <th>Description</th>
    <th>&nbsp;</th>
  </tr>
<% end %>
<% @template_queries.each do |query| %>
<tr><td></td></tr>
  <tr>
    <td><%= link_to query.title, template_query_path(query.id) %></td>
    <td><%= query.description %></td>
    <td><%= button_to 'Edit', {:action=>'edit', :id=>query.id}, :method=>:get if current_user.admin?%></td>
  </tr>
<% end %>
</table>

<%= link_to(new_template_query_path, class: "bluebutton") do %><span>Add Template</span><% end if current_user.admin?%>
</div>