<%= render partial: 'shared/tab_menu', locals: { selected: {queries: true}}%>
 <div> 
  <%= render :partial=> "queries/sidebar" %>
</div>
<div id="mainPanel">

  <h1>Template Query Definition</h1>
    <div class="top_border form_top_border">
      <div class="top_border_lower form_border_lower">
       </div>
    </div>
  <table class="simpleTable">
    <tr><th>Title</th><td><%= @template_query.title %></td></tr>
    <tr><th>Description</th><td><%= @template_query.description %></td></tr>
    <tr><th>Filter</th><td><pre><%= @template_query.filter %></pre></td></tr>
    <tr><th>Map Function</th><td><pre><%= @template_query.map %></pre></td></tr>
    <tr><th>Reduce Function</th><td><pre><%= @template_query.reduce %></pre></td></tr>
    <tr>
      <td></td>
      <td class="subTable">
        <table>
          <tr>
            <td><%= button_to 'Edit', { :action => 'edit', :id => @template_query.id }, :method => :get  if current_user.admin? %></td>
            <!-- This has to be a POST because of https://github.com/rails/rails/issues/2158 -->
            <td><%= button_to('Clone', { controller: "queries", action: "clone_template", template_id: @template_query.id }, :method => :post) %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
    <div class="bottom_border_lower relative">
      <div class="bottom_border">
      </div>
    </div>
</div>
