<%= render partial: 'shared/tab_menu', locals: { selected: {}}%>
 <div> 
  <%= render :partial=> "queries/sidebar" %>
</div>
<div id="mainPanel" >
  <h1>Code Entry</h1>
  <table class="simpleTable">
     <div class="top_border form_top_border">
      <div class="top_border_lower form_border_lower">
      </div>
    </div>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Codes
    </tr>
    <tr>
      <td><%= link_to @code_set.name, url_for(@code_set)  %></td>
      <td><%= link_to @code_set.type, :action=>'by_type', :type=>@code_set.type %></td>
      <td><%=  @code_set.description %></td>
      <td>
         <% @code_set.codes.each_pair do |k,v| %>
            <div>
             <span> <%= k %>: </span> <span><%= v.join(", ")%></span>  
            </div>
        
         <% end %>
      </td>
      <td>
        <%= link_to "Edit", edit_code_set_url(@code_set), :class=>"btn" %>
      </td>
      </tr>
  </table>

    <div class="bottom_border_lower relative">
      <div class="bottom_border">
      </div>
    </div>
</div>