<%= simple_form_for(@endpoint) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :id %>


    <table class="simpleTable">
      <tr>
        <th>Name</th>
        <td><%= f.input_field :name %></td>
      </tr>
      <tr>
        <th>URL</th>
        <td><%= f.input_field :base_url %></td>
      </tr>
    </table>


  <div class="actions">
    <%= f.button :submit, :class => "btn snd" %>
  </div>
<% end %>
