<%= render partial: 'shared/tab_menu', locals: { selected: {endpoints: true}} %>
 <div> 
  <%= render :partial=> "queries/sidebar" %>
</div>
<div id="mainPanel">
  <h1>Edit Endpoint</h1>

  <%= render 'form' %>
  
  <%= link_to 'Show', @endpoint %> <span class="sep">|</span>
  <%= link_to 'Back', endpoints_path %>
</div>

