<%= render partial: 'shared/tab_menu', locals: { selected: {endpoints: true}}%>

<div id="mainPanel">
  <h1>Gateway Definition</h1>
  <p id="notice"><%= notice %></p>

  <table class="simpleTable">
    <tr>
      <th>Name</th>
      <td><%= @endpoint.name %></td>
    </tr>
    <tr>
      <th>URL</th>
      <td><pre><%= @endpoint.base_url %></pre></td>
    </tr>
  </table>

  <%= link_to 'Edit', edit_endpoint_path(@endpoint) %> <span class="sep">|</span>
  <%= link_to 'Back', endpoints_path %>
</div>
