<%= render partial: 'shared/tab_menu', locals: { selected: {qry_admin: true}}%>

<div id="mainPanel">

  <h1>Query Administration</h1>
  <table class="simpleTable">
  <% if @queries.size %>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th></th>
    </tr>
  <% end %>
  <% @queries.each do |query| %>
    <tr>
      <td><%= query.title %></td>
      <td><%= query.description %></td>
      <td>
        -- query status goes here --
      </td>
      <td><%= button_to 'Modify', {:action=>'modify', :id=>query.id}, :method=>:get %></td>
    </tr>
  <% end %>
  </table>
    
  <%= link_to({:action => 'adminnew' }, :class => "bluebutton") do %><span>Add New Query</span><% end %>

</div>