<%= render partial: 'shared/tab_menu', locals: { selected: {qry_admin: true}}%>

<div id="mainPanel">
  <h1>Query Admin - Modify Query</h1>
  
  <%= form_for (@query), :url => {:action => 'modup', :method => :put}  do |f| %>
    <table class="simpleTable">
      <tr><th>Title</th><td><%= f.text_field :title, :disabled => @disabled %></td></tr>
      <tr><th>Description</th><td><%= f.text_field :description, :disabled => @disabled %></td></tr>
      <tr><th>Filter</th><td><%= f.text_field :filter, :disabled => @disabled %></td></tr>
      <tr><th>Map Function</th><td><%= f.text_area :map, :as => :text, :disabled => @disabled %></td></tr>
      <tr><th>Reduce Function</th><td><%= f.text_area :reduce, :as => :text, :disabled => @disabled %></td></tr>
    </table>
    <div class="ctrl">
  <%= f.submit 'Update Query' ,  {:controller => 'qryadmin', :action => 'modup', :method => :put}%>
  <%= link_to 'cancel', qryadmin_path %>
  </div>
  <% end %>
  <br />
  <%= button_to 'Clone Query', {:action=>'clone', :id=>@query.id}, :method=>:post %>
  <%= button_to 'Delete Query', {:action=>'destroy', :id=>@query.id}, :method=>:delete %>
</div>