<% content_for :head do -%>
  <%= stylesheet_link_tag "debugger.css"%>
  <%= javascript_include_tag "ace_editor/ace" %>
  <%= javascript_include_tag "ace_editor/mode-javascript" %>
  <%= javascript_include_tag "debugger/records" %>

  <script type="text/javascript">
    $(document).ready(function() {
      hDebugger.initialize();
    });
    
    <%
      container = CoffeeScript.compile(Rails.root.join('app/assets/javascripts/builder/container.js.coffee').read, :bare=>true)
      reducer = CoffeeScript.compile(Rails.root.join('app/assets/javascripts/builder/reducer.js.coffee').read, :bare=>true)
      rules = CoffeeScript.compile(Rails.root.join('app/assets/javascripts/builder/rules.js.coffee').read, :bare=>true)
      generated_query_library_functions = "var queryStructure = queryStructure || {}; " + container + reducer + rules
    
      user_library_functions = ""
      @current_user.library_functions.each do |library_function|
        user_library_functions << library_function.definition
      end
    %>
    
    hDebugger.addLibraryFunctions(<%= raw generated_query_library_functions.to_json %>);
    hDebugger.addLibraryFunctions(<%= raw user_library_functions.to_json %>);
  </script>
<% end %>

<tr><td>Map Function</td>
  <td>
    <div id="map_container" class="debug_container">
      <div id="map_editor" class="debug_editor"></div>
      <textarea id="map_text" name="query[map]" class="hidden"><%= @query.map %></textarea>
    </div>
    <div id="map_error_panel" class="debug_error_panel">
      <p id="map_error_panel_text"></p>
    </div>
  </td>
</tr>
<tr><td>Reduce Function</td>
  <td>
    <div id="reduce_container" class="debug_container">
      <div id="reduce_editor" class="debug_editor"></div>
      <textarea id="reduce_text" name="query[reduce]" class="hidden"><%= @query.reduce %></textarea>
    </div>
    <div id="reduce_error_panel" class="debug_error_panel">
      <p id="reduce_error_panel_text"></p>
    </div>
  </td>
</tr>
<tr class="debug_output"><td>Map Output</td><td><table id="map_output"></table></td></tr>
<tr class="debug_output"><td>Reduce Output</td><td><table id="reduce_output"></table></td></tr>