<table>
  <tr align='left'><th>Name</th><th>Endpoint URL</th><th></th></tr>
  <% @query.endpoints.each do |endpoint| %>
    <%= simple_form_for endpoint, :url => update_endpoint_query_path do |f| %>
      <tr>
        <td><%= f.input_field :name %></td>
        <td><%= f.input_field :submit_url %><%= f.hidden_field :id %></td>
        <td><%= f.button :submit %></td>
      </tr>
    <% end %>
  <% end %>
</table>
