<% is_new = @query.title.nil? %>

<%= simple_form_for @query do |f| %>
<table class="simpleTable">
    <div class="top_border form_top_border">
      <div class="top_border_lower form_border_lower">
      </div>
    </div>
  <tr><td>Title</td><td><%= f.input_field :title, :disabled => @disabled, :class=> "entryField" %></td></tr>
  <tr><td>Description</td><td><%= f.input_field :description, :disabled => @disabled, :class=> "entryField" %></td></tr>
  <% if not is_new %>
    <tr><td>Filter</td><td><%= f.input_field :filter, :disabled => @disabled %></td></tr>
    <%= render :partial => "debugger" %>
  <% else %>
    <tr><td>Mode</td>
      <td>
        <%= f.radio_button :generated, true, :checked => true %> Graphical Builder
        <%= f.radio_button :generated, false, :checked => false %> Handwritten JavaScript (Advanced)
      </td>
    </tr>
  <% end %>
</table>
<div class="ctrl"> 
  <% if (not is_new) %>
    <span class="ctrl">
      <input id="debug_button" type="button" value="Debug" disabled="disabled" class="btn primary"></input>
    </span>
    <%= f.button :submit, :class => "btn primary m" if !@disabled %>
    <%= link_to 'Browse API', '/patientapi/index', :target => '_blank', :class => 'btn top' %>
    <%= link_to 'Cancel', @query, :class => "btn" %>
  <% else %>
    <%= f.button :submit, 'Continue', :class => "btn primary m" if !@disabled %>
    <%= link_to 'Cancel', queries_path, :class => "btn second" %>
  <% end %> 
    <div class="bottom_border_lower relative">
      <div class="bottom_border">
      </div>
    </div>
</div>
<% end %>
