<% content_for :head do -%>
  <%= stylesheet_link_tag "debugger.css"%>
  <%= javascript_include_tag "ace_editor/ace" %>
  <%= javascript_include_tag "ace_editor/mode-javascript" %>
  <%= javascript_include_tag "debugger/records" %>

  <script type="text/javascript">
    $(document).ready(function() {
      hDebugger.initialize();
    });
    
    <% library_functions = ""
    @current_user.library_functions.each do |library_function|
      library_functions << library_function.definition
    end %>
    hDebugger.setLibraryFunctions(<%= raw library_functions.to_json %>);
  </script>
<% end %>

<% is_new = @query.title.nil? %>

<%= simple_form_for @query do |f| %>
<table class="simpleTable">
    <div class="top_border form_top_border">
      <div class="top_border_lower form_border_lower">
      </div>
    </div>
  <tr><td>Title</td><td><%= f.input_field :title, :disabled => @disabled, :class=> "entryField" %></td></tr>
  <tr><td>Description</td><td><%= f.input_field :description, :disabled => @disabled, :class=> "entryField" %></td></tr>
  <% if not is_new %>
    <tr><td>Filter</td><td><%= f.input_field :filter, :disabled => @disabled %></td></tr>
    <%= render :partial => "debugger" %>
  <% else %>
    <tr><td>Mode</td>
      <td>
        <%= f.radio_button :generated, true, :checked => true %> Graphical Builder
        <%= f.radio_button :generated, false, :checked => false %> Handwritten JavaScript (Advanced)
      </td>
    </tr>
  <% end %>
</table>
<div class="ctrl"> 
  <% if (not is_new) %>
    <span>  
      <input id="debug" type="button" value="Debug" disabled="disabled"> <input id="records" type="button" value="Records">
    <span class="ctrl">
      <input id="debug_button" type="button" value="Debug" disabled="disabled" class="btn"></input>
    </span>
    <%= f.button :submit, :class => "btn m" if !@disabled %>
    <%= link_to 'cancel', @query %>
  <% else %>
    <%= f.button :submit, 'Continue', :class => "btn primary m" if !@disabled %>
    <%= link_to 'Browse API', '/patientapi/index', :target => '_blank', :class => 'btn top' %>
    <%= link_to 'cancel', queries_path, :class=> "btn second" %>
  <% end %> 
    <div class="bottom_border_lower relative">
      <div class="bottom_border">
      </div>
    </div>
</div>
<% end %>
