  <div id="links" class="paletteLink">
    <div class="border_color">
      <div class="border_edge">
        <div class="icons">
          <h1>Links</h1>
          	<ul>
	            <li><%= image_tag("linkIcon.png",{class:"linkcon"}) %><%= link_to "Template Queries", template_queries_path %></li>
	          	<li><%= image_tag("linkIcon.png",{class:"linkcon"}) %><%= link_to 'Query List', queries_path %></li>
	          	<li><%= image_tag("linkIcon.png",{class:"linkcon"}) %><%= link_to "Library Functions", library_functions_path %></li>
	          	<li><%= image_tag("linkIcon.png",{class:"linkcon"}) %><%= link_to 'Code Sets', code_sets_path %></li>
              <li><%= image_tag("linkIcon.png",{class:"linkcon"}) %><%= link_to 'Execution Log', log_query_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

