<%= javascript_include_tag "builder/container" %>
<%= javascript_include_tag "builder/builder-ui" %>

<% content_for :head do -%>
<script type="text/javascript">
  $(document).ready(function() {
      $('#edit_query_<%= @query.id%>').submit(function() {
        $('#query_query_structure').val(builder.generateJson());
        return true;
      });
      
      var queryStructure = <%= @query.query_structure %>;
      alert(JSON.stringify(queryStructure));
  });
</script>
<% end -%>


<%= render partial: 'shared/tab_menu', locals: { selected: {queries: true}}%>

<div id="mainPanel">

  <h1>Editing Query</h1>

  <%= simple_form_for @query do |f| %>

  <table class="simpleTable">
    <tr><td>Title</td><td><%= f.input_field :title, :disabled => @disabled %></td></tr>
    <tr><td>Description</td><td><%= f.input_field :description, :disabled => @disabled %></td></tr>
  </table>
  
  <%= f.hidden_field :query_structure %>

  <h2>Find</h2>
  <div id="find">
    <table>
      <% HQUERY_VARIABLES[:demographics][:options].each do |demographic| %>
        <tr>
          <td>
            <input type="checkbox" id="find_<%= demographic[:id] %>" key="<%= demographic[:id]%>"> <%= demographic[:long_name] %>
          </td>
          <td>
            <select id="find_<%= demographic[:id] %>_comparison"><option>=</option><option>&lt;</option><option>&gt;</option></select>
          </td>
          <td>
            <input id="find_<%= demographic[:id] %>_value" type="text"/>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <h2>Filter</h2>
  <div id="filter">
    <table>
      <% HQUERY_VARIABLES[:demographics][:options].each do |demographic| %>
        <tr>
          <td>
            <input type="checkbox" id="filter_<%= demographic[:id] %>" key="<%= demographic[:id] %>"> <%= demographic[:long_name] %>
          </td>
          <td>
            <select id="filter_<%= demographic[:id] %>_comparison"><option>=</option><option>&lt;</option><option>&gt;</option></select>
          </td>
          <td>
            <input id="filter_<%= demographic[:id] %>_value" type="text"/>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <h2>Extract</h2>
  <div id="extract">
    <table>
      <% HQUERY_VARIABLES[:demographics][:options].each do |demographic| %>
        <tr>
          <td>
            <input type="checkbox" id="extract_<%= demographic[:id] %>" key="<%= demographic[:id] %>"> <%= demographic[:long_name] %>
          </td>
        </tr>
      <% end %>
        <tr>
          <td> group by </td>
          <td> <select><option>--select--</option><option>location</option>
            <% HQUERY_VARIABLES[:demographics][:options].each do |demographic| %>
                <option><%= demographic[:long_name] %></option>
            <% end %>
            
            </select></td>
            <td> <select><option>--select--</option><option>location</option>
              <% HQUERY_VARIABLES[:demographics][:options].each do |demographic| %>
                  <option><%= demographic[:long_name] %></option>
              <% end %>

              </select></td>
        </tr>
    </table>
  </div>

  <h2>Analyze</h2>
  <div id="aggregate">
    <table>
        <tr>
          <td>
            <input key="frequency" type="checkbox"> Frequency
            <input key="sum" type="checkbox"> Summation
            <input key="mean" type="checkbox"> Mean
            <input key="median" type="checkbox"> Median
            <input key="mode" type="checkbox"> Mode
          </td>
        </tr>
    </table>
  </div>


  <h2>Endpoints</h2>
  <%= render :partial=>"endpoint" %>

  <div class="ctrl"> 
    <%= f.button :submit if !@disabled %>
    <% if (not @query.id.nil?) %>
      <%= link_to 'cancel', @query %>
    <% else %>
      <%= link_to 'cancel', queries_path %>
    <% end %> 
  </div>
  <% end %>
  
</div>
