<%= render partial: 'shared/tab_menu', locals: { selected: {queries: true}}%>
 <div> 
  <%= render :partial=> "sidebar" %>
</div>
<div id="mainPanel" >
  <h1>Queries</h1>
    <div class="top_border">
      <div class="top_border_lower">
        </div>
    </div>
  <table class="simpleTable"> 
    <% if @queries.size %>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th>Status</th>
    </tr>
    <% end %>
    <% @queries.each do |query| %>
    <tr>
      <td><%= link_to query.title, query_path(query.id) %></td>
      <td><%= query.description %></td>
      <td><% if (query.generated?) %>
      <%= link_to 'Builder', builder_query_path(query.id) %>
      <% else %>
      <%= link_to 'Advanced Edit', { :action => 'edit', :id => query.id }, :method => :get, id: 'edit' %>
      <% end %>
      <td>
        <% if (not query.last_execution) %>
          no executions
        <% else %>
          <%= query.last_execution.status %>
        <% end %>
      </td>
      <td><%= button_to '×', {:action=>'destroy', :id=>query.id}, :class=>"btn alert", :method=>:delete, :confirm=>'Are you sure you wish to delete the query ' + query.title %></td>
    </tr>
    <% end %>
  </table>

  <%= link_to(new_query_path, class: "btn primary m") do %><span>Add Query</span><% end %>
        <div class="bottom_border_lower relative">
      <div class="bottom_border">
      </div>
    </div>

</div>
