<%= render partial: 'shared/tab_menu', locals: { selected: {queries: true}}%>
 <div> 
  <%= render :partial=> "sidebar" %>
</div>
<div id="mainPanel" >
  <h1>Queries</h1>
    <div class="top_border">
      <div class="top_border_lower">
        </div>
    </div>
  <table class="simpleTable"> 
    <% if @queries.size %>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
    <% end %>
    <% @queries.each do |query| %>
    <tr>
      <td><%= link_to query.title, query_path(query.id) %></td>
      <td><%= query.description %></td>
      <td>
        <% if (not query.last_execution) %>
          no executions
        <% else %>
          <% query.last_execution.status.each_pair do |status, count| %>
            <% if (status != query.last_execution.status.keys.first) %>,<% end %>
            <%= status %>
            (<%= count.to_s + " of " + query.last_execution.results.length.to_s%>)
          <% end %>
        <% end %>
      </td>
      <td><%= button_to '×', {:action=>'destroy', :id=>query.id}, :class=>"btn alert", :method=>:delete, :confirm=>'are you sure?'  %></td>
    </tr>
    <% end %>
  </table>

  <%= link_to(new_query_path, class: "btn primary m") do %><span>Add Query</span><% end %>
        <div class="bottom_border_lower relative">
      <div class="bottom_border">
      </div>
    </div>

</div>

<div style="margin-top:20px">

  <%= link_to "Template Queries", template_queries_path %> <span class="sep">|</span>
  <%= link_to "Library Functions", library_functions_path %>

</div>