
<div id="container">
  <%= render :partial => 'shared/header', :locals => {:definition => @definition} %>
  <div id="pageContent">
    <div id="patientMetrics">
      <div class="patientGroupType">
		<ul>
			<li class="dashboardTab selected" data-tab="queries"> <label>Queries</label> </li>
			<li class="dashboardTab" data-tab="endpoints"> <label>Endpoints</label> </li>
		</ul>
        <br style="clear:both"/>
      </div>
    </div><!-- end #patientMetrics -->
    <div id="dashboardPeriod" >

      <br style="clear:left"/>
      <div id="simpleTableContainer">
		<table id="simpleTable"> 
			<% if @queries.size %>
			  <tr>
			    <th>Title</th>
			    <th>Description</th>
			    <th>Status</th>
			  </tr>
			<% end %>
			<% @queries.each do |query| %>
			  <tr>
			    <td><%= link_to query.title, query_path(query.id) %></td>
			    <td><%= query.description %></td>
			    <td><%first = true; query.status.each_pair do |status, count| %>
				       <%= ', ' if !first %>
				       <%= status%>
				       (<%= count.to_s + " of " + query.last_execution.results.length.to_s%>)
				       <%first = false%>
				    <%end%>
				    <%if (first)%>
				      no executions
				    <%end%>
				</td>
			    <td><%= button_to 'X', {:action=>'destroy', :id=>query.id}, :method=>:delete, :confirm=>'are you sure?' %></td>
			  </tr>
			<% end %>
		</table>
		
		<%= link_to(new_query_path, class: "bluebutton") do %><span>Add Query</span><% end %>
		
      </div><!-- end patientTableContainer -->
    </div>
  </div><!-- end #pageContent -->
</div>

