<h1>All Queries</h1>

<table>
<% if @queries.size %>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
  </tr>
<% end %>
<% @queries.each do |query| %>
  <tr>
    <td><%= link_to query.title, query_path(query.id) %></td>
    <td><%= query.description %></td>
    <td><%= query.status %></td>
    <!--td>[<%= link_to 'x', query, :confirm => 'Are you sure you want to delete this query?', :method => :delete %>]</td-->
    <td><%= button_to 'X', {:action=>'destroy', :id=>query.id}, :method=>:delete, :confirm=>'are you sure?' %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'Add Query', new_query_path %></p>
