<%= render partial: 'shared/tab_menu', locals: { selected: {queries: true}}%>

<div> 
  <%= render :partial=> "sidebar" %>
</div>
<div id="mainPanel">
  <h1>Query Execution Log</h1>
  <h2>Query: <%= link_to @query.title, query_path %></h2>

  <table class="simpleTable">
    <tr>
    <th colspan="2">Time</th>
    <th>Result</th>
  </tr>
  <% @query.executions.each do |event| %>
    <tr>
      <td><%= Time.at(event.time).strftime("%m/%d/%Y") %></td>
      <td><%= Time.at(event.time).strftime("%I:%M%p") %></td>
      <% begin %>
      <td><pre><%= JSON.pretty_generate(event.aggregate_result) %></pre></td>
      <% rescue %>
      <td><pre><%= event.aggregate_result %></pre></td>
      <% end %>
    </tr>
  <% end %>
  </table>
  
  <p><%= link_to 'Back to Query', query_path %></p>
</div>