<% content_for :head do -%>
  <script type="text/javascript">
    var refreshFailCount = 0;
    var queryInfoRefreshInterval = setInterval(function() {
      $.ajax({
        type: "GET",
        url: "/queries/<%= @query.id %>/refresh_execution_results",
        datatype: "script",
        error: function(jqXHR, exception) {
          refreshFailCount++;
          if (refreshFailCount >= 10) {
            clearInterval(queryInfoRefreshInterval);
            alert("Too many failed queries to the gateway. Canceling the refresh. This should be handled prettily in the future.");
          }
        }
      })
      }, 5000);
  </script>
<% end -%>
<%= render partial: 'shared/tab_menu', locals: { selected: {queries: true}}%>

<div id="mainPanel">

  <h1>Query Definition</h1>
  <table class="simpleTable">
    <tr><th>Title</th><td><%= @query.title %></td></tr>
    <tr><th>Description</th><td><%= @query.description %></td></tr>
    <tr><th>Filter</th><td><pre><%= @query.filter %></pre></td></tr>
    <tr><th>Map Function</th><td><pre><%= @query.map %></pre></td></tr>
    <tr><th>Reduce Function</th><td><pre><%= @query.reduce %></pre></td></tr>
    <tr>
      <th>Endpoints</th>
      <td class="subTable"><%= render :partial => 'execution_results', :locals => { :query => @query } %></td>
    </tr>
    <%= render :partial => 'aggregate_results', :locals => { :query => @query } %></td>
    <tr>
      <td></td>
      <td class="subTable">
        <table>
          <tr>
            <td><%= button_to 'Edit', { :action => 'edit', :id => @query.id }, :method => :get %></td>
            <td><%= button_to 'Builder', { :action => 'builder', :id => @query.id }, :method => :get %></td>
            <td><%= button_to 'Builder Simple', { :action => 'builder_simple', :id => @query.id }, :method => :get %></td>
            <td><%= button_to 'Execute', { :action => 'execute', :id => @query.id } %></td>
            <td><%= button_to 'Execute and Notify', { :action => 'execute', :id => @query.id, :notification => true } %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <p><%= link_to 'Query List', queries_path %> <span class="sep">|</span> <%= link_to 'Event Log', log_query_path %> <span class="sep">|</span> <%= link_to 'Execution History', execution_history_query_path %></p>
</div>