<!DOCTYPE html>
<html>
<head>
  <title>QueryComposer</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag 'basic' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield :head %>

</head>
<body>
	
<%= yield %>

<%= link_to "logout", destroy_user_session_path %>

</body>
</html>
