<!DOCTYPE html>
<html>
<head>
  <title>QueryComposer</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>

  <%= yield :head %>

</head>
<body>
  <%= render :partial => 'shared/header', :locals => {:definition => @definition} %>
  <div id="container">
  
    <div id="pageContent">
      <%= yield %>
    </div><!-- end #pageContent -->
  </div>

</body>
</html>
